// Specific CSS for your home-page
h1{
  align-self: center;
  color:#0081C9;
}


.sticky-whatsapp-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrollspyHeadingRegatas{
  border-radius: 10%;
  align-self: center;
  margin:auto;
  box-shadow: 3px 3px 3px black;
}


.container{
  display: block;
  margin: 0 auto;
  position:relative;
  z-index: 0;
}

.whats{
  position:absolute;
  z-index:1;
}

body{
background-color:#FFC93C;
font-family: 'Roboto', sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}

#scrollspyHeadingRegatas {
  max-width: 50%;
  height: auto;
}
