<div class="staff-container">
        <div class="row">
            <div class="col-md-4 mb-md-0 mb-3">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">
                        <div class="img-staff-container rounded-circle">
                        <%= image_tag '55ca5cef-7e9c-487a-aedb-820f98eba7db.jpg', alt:"", class:"rounded-circle" %>
                        </div>
                        <div class="h3">Hill</div>
                        <p class="designation text-muted text-uppercase">Professore de vela experiente</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">
                        <div class="img-staff-container rounded-circle">
                            <%= image_tag "WhatsApp Image 2023-04-06 at 12.18.22.jpeg", alt:"", class:"rounded-circle" %>
                        </div>
                        <div class="h3">Tati</div>
                        <p class="designation text-muted text-uppercase">Velejadora há 30 anos</p>
                    </div>
                    <%# <ul
                        class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    </ul> %>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">
                        <div class="img-staff-container rounded-circle">
                            <img src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                alt="" class="rounded-circle">
                        </div>
                        <div class="h3">Zoio</div>
                        <p class="designation text-muted text-uppercase">Instrutor de Vela e Charters</p>
                    </div>
                    <%# <ul
                        class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    </ul> %>
                </div>
            </div>
        </div>
    </div>
