* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
}
.waviy span {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: lighter;
  color: #FFD93D;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}
